Repository mobilecoinfoundation/mc-oblivious, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, github_actions, python, javascript

.github/labeler.yml:

---
rust:
  - '**.rs'
  - '**/Cargo.lock'
  - '**/Cargo.toml'

github_actions:
  - '.github/workflows/**'
  - '.github/labeler.yaml'
  - '.github/triage-labeler.yaml'
  - '.github/auto_assign.yaml'

python:
  - '**.py'
  - '**/poetry.lock'
  - '**/pyproject.toml'
  - '**/requirements.txt'

javascript:
  - '**.js'

replace coredev with crypto-eng, other minor things
  .github/dependabot.yaml
  .github/settings.yml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  .github/workflows/pr-assign.yaml
Labels: github_actions

remove stuff related to core team project board
  .github/workflows/issues.yaml
  .github/workflows/pr.yaml
Labels: github_actions

remove circle ci
  .circleci/config.yml
Labels: none

apply a james suggestion to expand matrix
  .github/workflows/ci.yaml
Labels: github_actions

markdown lint
  aligned-cmov/README.md
  balanced-tree-index/README.md
Labels: none

appease markdown linter
  CLA.md
  CONTRIBUTING.md
Labels: none

more readme markdown lints
  README.md
  aligned-cmov/README.md
  balanced-tree-index/README.md
  mc-oblivious-map/README.md
  mc-oblivious-ram/README.md
  mc-oblivious-traits/README.md
Labels: none

more readme fixups
  README.md
Labels: none

more readme lints
  README.md
Labels: none

fixup my dependabot.yml
  .github/dependabot.yml
Labels: none

fix dependabot yml for real this time
  .github/dependabot.yml
Labels: none

yaml lint in ci.yaml
  .github/workflows/ci.yaml
Labels: github_actions

increase nightly version
  .github/workflows/ci.yaml
Labels: github_actions

permissions for installing gsl
  .github/workflows/ci.yaml
Labels: github_actions

bump version of mc-crypto-rand we are pulling in
  mc-oblivious-map/Cargo.toml
Labels: rust

address clippies
  mc-oblivious-traits/src/testing.rs
Labels: none

remove duplicated dependabot file
  .github/dependabot.yml
Labels: none

lint
  Cargo.lock
  hooks/pre-commit
  mc-oblivious-map/benches/ingest.rs
  mc-oblivious-map/benches/view.rs
  mc-oblivious-map/src/lib.rs
  mc-oblivious-ram/src/evictor.rs
  mc-oblivious-ram/src/position_map/mod.rs
  tools/lint.sh
Labels: rust

remove unrecognized "skip-children" option
  hooks/pre-commit
Labels: none

add license to test-helper crate
  test-helper/Cargo.toml
Labels: rust

make cargo deny happy
  Cargo.lock
  balanced-tree-index/Cargo.toml
  deny.toml
  mc-oblivious-map/Cargo.toml
  mc-oblivious-ram/Cargo.toml
  no-asm-tests/Cargo.lock
  test-helper/Cargo.toml
Labels: rust

fix rustflags in ci.yaml clobbering the correct rustflags
  .github/workflows/ci.yaml
Labels: github_actions

add comment to the deny.toml
  deny.toml
Labels: none

Update .github/settings.yml
  .github/settings.yml
Labels: none

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Labels: github_actions
